---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import PageTitle from "@/components/PageTitle.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import BackButton from "@/components/BackButton.astro";

const raw = import.meta.glob<{ default: ImageMetadata }>(
    "/public/band_pictures/10-18-2025/*.{jpg,jpeg,png,webp}",
    { eager: true },
);

const images = Object.values(raw).map((m) => {
    const meta = m.default;
    return {
        meta,
        isWide: meta.width >= meta.height,
    };
});
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <PageTitle page="Memories"/>
        <!-- Standard favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <!-- IOS / android favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
    </head>
    <body class="min-h-screen">
        <Navbar />
        <main class="flex flex-col items-center p-10">
            <BackButton />
            <p class="py-5 flex flex-col font-jetbrains text-xs leading-relaxed max-w-md text-center">
                <span>Picture taken by Carlos</span>
                <span>At The American Legion Post 92, October 18th, 2025</span>
            <p>
            <div class="max-w-3xl py-10">
                <div class="grid gap-2 sm:gap-3 grid-cols-2 sm:grid-cols-4">
                    {images.map(({ meta, isWide }, index) => (
                        <div class={`h-full overflow-hidden ${isWide ? "col-span-2" : ""}`}>
                            <Image
                                class="h-full w-full object-cover"
                                src={meta}
                                alt={`Band photo ${index + 1}`}
                            />
                        </div>
                    ))}
                </div>
            </div>
        </main>
    </body>
</html>
