---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="Lyrics">
    <div class="text-2xs hover:underline">
        <a href="/lyrics/collection"
            >2026 - A Collection Of Sounds and Melodies That Scream Through The
            Heart</a
        >
    </div>
</BaseLayout>
