---
import "@/styles/global.css";
import Lightbox from "@/components/Lightbox.astro";

import sfl from "@/news-articles/1-12-2026/sfl.jpg";
import chickens from "@/news-articles/1-12-2026/chickens.jpg";
import lc from "@/news-articles/1-12-2026/lc.jpg";
---

<p class="mt-3 text-primary text-xs">
    January 12th, 2026 - "To someone who needs it."
</p>
<div class="w-3/5 flex flex-col gap-y-2 text-2xs text-left">
    <p>
        Hello life lovers, ladies, gentlemen, everyone and anyone in between…
        there’s a whole lot to say this time around, so let’s get into it!
    </p>
    <p>
        The yearly tradition of migrating to Central Florida for two days and
        experiencing the best hardcore fest the world has to offer has come to a
        close. And the title of “the best” is not one that I use lightly by any
        means. This year marks the 12th consecutive year of FYA Fest, or “Fuck
        Your Attitude” for those unaware, and this year especially I think it
        has been one that was very special to many people.
    </p>
    <p>
        <span class="text-primary">Exit Life</span>, ahh yes, our golden boys
        started Saturday off in spectacular fashion. And that’s a firsthand
        account, because I was up there front and center. The room of some odd
        500 people erupted at 11:30 in the morning, of which 30 of us from South
        Florida, in full support, were in the front running the dance floor.
        Words can’t describe how happy and proud our scene is of Danny for
        starting this band, as well as Esco and Sebas for having his back as
        friends. I know that’ll be something they remember for the rest of their
        lives. We’re all rooting for you! This set was dedicated to Aaron Levine
        and Mean Pete (rest in peace), who we all miss very much.
    </p>
    <div class="flex">
        <Lightbox
            class="h-[150px]"
            src={sfl}
            alt="the south florida scene at fya 12"
        />
    </div>
    <p>
        Exit Life wasn’t the only band to be excited about. On the first day,
        some bands I found very sick to watch, other than the headliners, were
        Start Today (who I personally thought was awesome to see), Seed of Pain,
        Forced Order, Magnitude (Magnitude’s always fun to watch for the
        dogpiles), Whispers, Haywire, I Promised the World, Final Resting Place,
        Turmoil, and Fleshwater. As of writing this, Start Today and Haywire’s
        sets are available to watch in full on the
        <a
            class="underline hover:text-primary"
            href="https://www.youtube.com/@FeetFirstProductions"
            >Feet First Productions Youtube Channel</a
        >. So go check it out right now! I would assume that by the time you see
        this, more sets will be up.
    </p>
    <p>
        And of course... <span class="text-primary"
            >Hatebreed and motherfucking Kickback</span
        >
        (and merauder too I guess don't kill me guys). I gotta be honest man: I think
        Kickback was the craziest set of the weekend. Manny came up to me during the
        set and just said "It feels like I was never meant to see this band." which
        is a pretty apt description of what was going on. You'll probably see it in
        the videos whenever the set is posted, but the mosh pit extended from the
        stage all the way to the last back door of the venue. I heard Stephen Bessac
        said something about Drowning being a band full of posers and f*gs? that got
        a chuckle out of me haha! As far as Hatebreed goes, there's nothing I could
        really say other than it was perfect. They only played songs off of Satisfaction
        and Under the Knife, and as someone who thinks Satisfaction is a 10/10 record,
        it was an all timer set to watch. A lot of people saw their favorite bands
        this weekend. At least for me, seeing Hatebreed felt special. I know for Gabi
        and Jayson, seeing Turmoil felt special, and for Alex, seeing Kickback felt
        special — so special, in fact, that they threw hundreds of dollars at the
        bands for merch!! lol… I’m only kidding ;). Speaking of which, here are some
        pics of my best friends that I got this weekend (including a Lifechord band
        pic!).
    </p>
    <div class="flex">
        <Lightbox
            class="h-[150px]"
            src={lc}
            alt="lifechord band pic at fya 12 before turmoil played."
        />
        <Lightbox
            class="h-[150px]"
            src={chickens}
            alt="a pic of my friends! the chickens!"
        />
    </div>
    <p>
        On a more serious note, I do have some sort of an anecdote to tell, as
        it sorta relates to this whole "special weekend" thing I've been doing a
        horrible job of alluding to. It's day 2 of the fest and I haven't bought
        anything yet as nothing at the merch tables or the warehouse next door
        with label merch really piqued my interest. Or at least that was the
        case until I saw the "Have Heart 2024 Photobook" at the Disorder table.
        Merlin really wanted to get me something, so the moment I saw it she
        bought it for me instantly, which means alot because I've wanted it for
        a while but never got around to actually buying it. I went to the car to
        look at it and read the foreword and afterword. And there I was,
        fighting back tears as I'm reading what felt like someone's attempt at
        telling a loved one "I miss you, here's what I accomplished since you've
        been gone." It's bittersweet really: doing and expierencing all these
        cool things, connecting with people in a way that words can't truly
        describe. Reading this at a place like FYA felt warm. Sometimes it's
        hard to look at where you are and appreciate the moment for what it is,
        knowing that it won't last forever. All the anger, frustration, and
        dissent we carry against the world somehow turns into compassion and
        connection in a place like this. A place where people who don't really
        fit can relate with one another. A place that many people have learned
        to call home. <span class="text-primary">Hardcore is special. </span>
        And I agree with the sentiment that sometimes it really is just music. But
        hardcore can be special... to someone who needs it. It's a thing that many
        people in their life never get to experience. When the melodies you wrote,
        and the words you so passionately yelled into a microphone truly connect with
        people. And they fight for the microphone at a show to scream with you. This
        ultimate moment where in spite of all the fucked up shitty things happening
        in the world, a little bit of humanity shines through. A moment that screams
        violently through the heart.
    </p>
    <p>
        I've crossed paths with Pat Flynn many times in my years of going to
        shows. Merlin upon being told this asks me "Why don't you tell him how
        you feel the next time you see him?" The truth is, I can't. I'm not sure
        he'd truly understand how much the music he made has made a profound
        impact on my life. Or how much the music of others have impacted the
        life of my friends. I can explain it all I want, but I can't understand
        it for him. But it’s for this reason that we gravitate to spaces like
        this: to express ourselves in a way that is pure, to wear our passions
        on our sleeves, to cast the world aside for one Saturday evening and
        tell the world how we really feel.
    </p>
    <p>
        Hardcore is special. And in hardcore, the things you care about, are
        cared for. Something like that? That's rare.
    </p>
    <p>So keep caring, nobody's waiting for you.</p>
    <p>Yours Truly, Albert</p>
</div>
