---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import PageTitle from "@/components/PageTitle.astro";
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <PageTitle page="About"/>
        <!-- Standard favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <!-- IOS / android favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
    </head>
    <body class="min-h-screen">
        <Navbar />
        <main class="min-h-screen flex flex-col justify-center items-center p-10 md:pt-0 gap-y-5">
            <div class="flex flex-col gap-y-3 font-jetbrains text-xs leading-relaxed max-w-md w-full text-center">
                <p>このバンドは、希望と思いやりをテーマにしています。</p>
                <p>世界のひどさにうんざりしていますか？それでも、この人生を精一杯楽しみたいですか？</p>
                <p>それなら、このバンドはあなたのためのものです。</p>
                <br>
                <p>もっと人生を生きよう。今日から始めよう。</p>
            </div>
            <br>
            <div class="justify-center sm:justify-start gap-y-3 font-jetbrains text-xs max-w-md leading-relaxed text-left">
                <p>Matthew, Ben, Albert, Gabi, Jayson</p>
            </div>
        </main>
    </body>
</html>
