---
import "@/styles/global.css";
import { Image } from "astro:assets";
import MicGrab from "@/mic_grab.png";
import Navbar from "@/components/Navbar.astro";
import BackButton from "@/components/BackButton.astro";
import Base from "@/layouts/base.astro";
---

<Base page="About">
    <Navbar />
    <main
        class="min-h-screen flex flex-col justify-center items-center p-10 md:pt-0 gap-y-5"
    >
        <BackButton />
        <Image
            class="w-full max-w-2xl object-contain"
            loading="eager"
            src={MicGrab}
            alt="lifechord banner"
        />
        <div
            class="flex flex-col gap-y-3 font-jetbrains text-xs leading-relaxed max-w-md w-full text-center"
        >
            <p>このバンドは、希望と思いやりをテーマにしています。</p>
            <p>
                世界のひどさにうんざりしていますか？それでも、この人生を精一杯楽しみたいですか？
            </p>
            <p>それなら、このバンドはあなたのためのものです。</p>
            <br />
            <p>もっと人生を生きよう。今日から始めよう。</p>
        </div>
        <br />
        <div
            class="justify-center sm:justify-start gap-y-3 font-jetbrains text-xs max-w-md leading-relaxed text-left"
        >
            <p>Matthew, Ben, Albert, Gabi, Jayson</p>
        </div>
    </main>
</Base>
