---
import "@/styles/global.css";
import { Image } from "astro:assets";
import lifechordBanner from "@/lcbanner.webp";
import Navbar from "@/components/Navbar.astro";
import Base from "@/layouts/base.astro";
---

<Base>
    <Navbar />
    <main
        class="min-h-screen flex flex-col justify-center items-center p-10 md:pt-0 gap-y-5"
    >
        <Image
            class="w-full max-w-md object-contain"
            loading="eager"
            src={lifechordBanner}
            alt="lifechord banner"
        />
        <div
            class="flex flex-col gap-y-3 font-jetbrains text-xs leading-relaxed max-w-md text-center"
        >
            <p>人生が違っていたらいいのに。世界が違っていたらいいのに。</p>
            <p>
                そろそろ自分たちを見つめ直して、他の誰かを思いやることを始める時だ。
            </p>
        </div>
    </main>
</Base>
