@import "tailwindcss";

@import "./fonts/font-jetbrains.css";

@theme {
    --font-helvetica: "Helvetica", sans-serif;
    --font-jetbrains: "JetBrains Mono", serif;
    --breakpoint-xs: 30rem;
    --text-2xs: 10px;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
}

:root {
    --background: hsl(225.76 55% 8%);
    --foreground: hsl(222.02 46% 94%);
    --primary: hsl(46.65 100% 50%);
}

@layer base {
    * {
        @apply font-jetbrains;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
}

::view-transition-group(root) {
  animation: none;
}

.href-song-lyrics {
    @apply text-2xs
    text-foreground/60
    underline
    hover:text-foreground
}

.href-back {
    @apply text-2xs
    text-foreground/60
    underline
    hover:text-primary
    hover:underline
    cursor-pointer
}
.nav-item {
    @apply text-2xs
    hover:bg-foreground/10
    hover:text-primary
    hover:underline
    cursor-pointer
    px-1.5
};
