@import "tailwindcss";

@theme {
    --font-jetbrains: "JetBrains Mono", serif;
    --breakpoint-xs: 30rem;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
}

:root {
    --background: hsl(225.54 47% 14%);
    --foreground: hsl(222.02 46% 94%);
    --primary: hsl(46.65 100% 50%);
}

@layer base {
    * {
        @apply font-jetbrains;
    }

    body {
        @apply min-h-screen bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
