@import "tailwindcss";

@import "./fonts/font-jetbrains.css";

@theme {
    --font-helvetica: "Helvetica", sans-serif;
    --font-jetbrains: "JetBrains Mono", serif;
    --breakpoint-xs: 30rem;
    --text-2xs: 10px;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
}

:root[data-theme="blue"] {
    --background: hsl(225.76 55% 8%);
    --foreground: hsl(222.02 46% 94%);
    --primary: hsl(46.65 100% 50%);
}

:root[data-theme="maroon"] {
    --background: hsl(4.52 80% 8%);
    --foreground: hsl(7.61 99% 95%);
    --primary: hsl(46.65 100% 50%);
}

:root[data-theme="green"] {
    --background: hsl(120 20% 15%);
    --foreground: hsl(85.38 59% 89%);
    --primary: hsl(46.65 100% 50%);
}

:root[data-theme="mcd"] {
    --background: hsl(0 100% 50%);
    --foreground: hsl(0 100% 100%);
    --primary: hsl(50 100% 50%);
}

@layer base {
    * {
        @apply font-jetbrains;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
}

::view-transition-group(root) {
  animation: none;
}

html {
    scrollbar-gutter: stable;
}

.audio-player-container {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
}

.range-slider {
    @apply relative
    appearance-none
    bg-transparent
    cursor-pointer
    [&::-webkit-slider-thumb]:appearance-none
    [&::-webkit-slider-thumb]:h-4
    [&::-webkit-slider-thumb]:w-1
    [&::-webkit-slider-thumb]:bg-primary
    [&::-webkit-slider-thumb]:mt-[-6px]
    [&::-moz-range-thumb]:appearance-none
    [&::-moz-range-thumb]:h-4
    [&::-moz-range-thumb]:w-1
    [&::-moz-range-thumb]:bg-primary
    [&::-moz-range-thumb]:mt-[-6px]
}

.range-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: linear-gradient(
        to right,
        color-mix(in srgb, var(--foreground) 70%, transparent) 0,
        color-mix(in srgb, var(--foreground) 70%, transparent) var(--buffered-width),
        color-mix(in srgb, var(--foreground) 40%, transparent) var(--buffered-width),
        color-mix(in srgb, var(--foreground) 40%, transparent) 100%
    );
}

.range-slider::-moz-range-track {
    height: 4px;
    background: linear-gradient(
        to right,
        color-mix(in srgb, var(--foreground) 70%, transparent) 0,
        color-mix(in srgb, var(--foreground) 70%, transparent) var(--buffered-width),
        color-mix(in srgb, var(--foreground) 40%, transparent) var(--buffered-width),
        color-mix(in srgb, var(--foreground) 40%, transparent) 100%
    );
}

.range-slider::before{
    position: absolute;
    content: "";
    top: 0;
    z-index: -10;
    left: 0;
    height: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

#seek-slider::before {
    width: var(--seek-before-width);
}
#volume-slider::before {
    width: var(--volume-before-width);
}

.href-song-lyrics {
    @apply text-2xs
    text-foreground/60
    underline
    hover:text-foreground
}

.href-back {
    @apply text-2xs
    text-foreground/60
    underline
    hover:text-foreground
    hover:underline
    cursor-pointer
}
.nav-item {
    @apply text-2xs
    hover:bg-foreground/10
    hover:text-foreground
    hover:underline
    cursor-pointer
    px-1.5
};
