---
import "@/styles/global.css";
import Lyrics from "@/layout/Lyrics.astro";
---

<Lyrics title="The Indifference" audioSrc="/songs/screaming-through-the-heart/song2.mp3">
    <span class="gap-y-2">
        <p>It's ripping me apart to see you this way</p>
        <p>Crying yearning tears, saying to yourself</p>
        <p>they will never find me… and maybe I'm just better off alone</p>
    </span>
    <span class="gap-y-2">
        <p>Lying to yourself, saying that you despise those around you</p>
    </span>
    <span class="gap-y-2">
        <p>So misunderstood (How heavy it must be)</p>
        <p>So uncaring (to carry a calloused heart)</p>
        <p>How shortsighted (if only you could look beyond yourself)</p>
        <p>and choose to accept that things will change</p>
    </span>
    <span class="gap-y-2">
        <p>This human need to connect</p>
        <p>To be seen</p>
        <p>To be heard</p>
    </span>
    <span class="gap-y-2">
        <p>We need to learn how to walk away</p>
        <p>We need to learn how to look around</p>
        <p>To Take everything in</p>
    </span>
    <span class="gap-y-2">
        <p>And smell the roses</p>
    </span>
</Lyrics>
