---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout>
    <div class="flex flex-col items-center">
        <span class="text-primary text-xs">404</span>
        <span class="text-2xs">the page you're looking for doesn't exist</span>
    </div>
</BaseLayout>
