---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="About">
    <div class="flex flex-col text-2xs text-left">
        <p>
            This band is about <span class="text-primary">HOPE</span> and <span
                class="text-primary">COMPASSION</span
            >.
        </p>
        <p>Do you hate how much the world sucks?</p>
        <p>Do you want to make the most of it anyways?</p>
        <p>Then this band is for you.</p>
        <br />
        <p class="text-primary">Live more life. Start today.</p>
    </div>
    <br />
    <div class="text-2xs">
        <p>Matthew, Ben, Albert, Gabi, Jayson</p>
    </div>
</BaseLayout>
