---
import "../styles/global.css";
import { Image } from 'astro:assets';
import lifechordLogo from '../lifechord.webp';
import lifechordBanner from '../lcbanner.webp';
import bhlogo from '../bhlogo.webp';
import base from '../layouts/base.astro'
---
<base>

<div class="h-screen flex flex-col justify-center items-center">
    <main class="flex mb-10 justify-center">
        <div class="text-xs flex flex-col w-[400px] mx-auto font-jetbrains gap-y-7">
            <Image loading="eager" src={lifechordBanner} width={410} alt="lifechord logo"/>
            <p>
            It feels as though there is so much to say, yet it's hard to find
            the right words to say it with. I actively avoid the feeling of inadequacy,
            and disappointment. I actively avoid feeling as though the world around me
            is bending out of my will. It's the anxiety that comes with the forming of
            new and novel experiences that cause me to tense up and scream on the inside.
            </p>
            <p>
            And there's this sharp feeling in my chest. The active choice to put myself in others' place.
            The need to show compassion. The need to take what's broken and mend it back together.
            I renounce the thought of being complacent. I renounce the thought that what I say and what I do,
            does not matter. I renounce a life of stillness. I renounce this overwhelming feeling of apathy.
            </p>
            <p>
            Things will change. The friends I make I will lose. The memories I hold dear
            I will forget. The things I create will be destroyed. All the love I have to give
            to this world... and all the love that the world will never give back,
            will go unfelt. This is what I live for. I need this. I feel this. I believe this.
            </p>
            <p>
            I will look beyond myself.
            </p>
        </div>
    </main>

    <footer class="flex gap-x-10 items-center">
        <Image loading="eager" src={lifechordLogo} width={150} alt="lifechord logo"/>
        <Image loading="eager" width={150} src={bhlogo} alt="blackheaven records logo"/>
        <!-- <span class="mt-2 flex items-center gap-x-1 text-sm"> -->
        <!--     <span>&copy;</span> -->
        <!--     <a class="hover:underline hover:text-blue-400 font-jetbrains" href="https://blackheavenrecords.bigcartel.com/">Blackheaven Records.</a> -->
        <!--     <span class="font-jetbrains">2024-2025</span> -->
        <!-- </span> -->
    </footer>
    </main>
</div>
</base>
