---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
import { Image } from "astro:assets";
import Logo from "../images/band_logos/logo.png";
import Grab from "../images/band_pictures/10-18-2025/01.jpeg";
---

<BaseLayout>
    <div class="flex justify-between">
        <div class="flex flex-col items-start w-1/3">
            <Image
                class="mb-3"
                width={200}
                src={Logo}
                layout="full-width"
                alt="band name logo"
            />
            <span class="mb-3 text-xs text-primary font-bold">Updates</span>
            <span class="flex flex-col gap-y-2">
                <a href="/news" class="href-back">
                    1/12/26: FYA 12, and why Hardcore is special!
                </a>
                <a href="/news" class="href-back">
                    12/30/25: New website, end of year show thoughts and shirts!
                </a>
            </span>
        </div>
        <div class="flex flex-col items-end space-y-1 w-2/5">
            <Image
                height={150}
                src={Grab}
                layout="full-width"
                alt="first show mic grab"
            />
            <p class="items-center text-2xs text-foreground/60">
                powered by an unwavering need for understanding // <span
                    class="text-primary">&copy;lifechord 2026</span
                >
            </p>
        </div>
    </div>
</BaseLayout>
