---
import "@/styles/global.css";
import { Image } from "astro:assets";
import lifechordLogo from "@/lifechord.webp";
import lifechordBanner from "@/lcbanner.webp";
import bhlogo from "@/bhlogo.webp";
import Navbar from "@/components/Navbar.astro";
import PageTitle from "@/components/PageTitle.astro";
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <PageTitle />
        <!-- Standard favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <!-- IOS / android favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
    </head>
    <body>
        <Navbar />
        <main class="min-h-screen flex flex-col justify-center items-center p-10 md:pt-0 gap-y-2 sm:gap-y-7">
            <Image class="w-full max-w-md object-contain" loading="eager" src={lifechordBanner} alt="lifechord banner"/>
            <div class="flex flex-col gap-y-3 font-jetbrains text-xs leading-relaxed max-w-md text-center">
                <p>
                I wish things were different. I wish the world was different.
                </p>
                <p>
                Maybe with hope and compassion, things can change.</p>

            </div>
            <!-- <footer class="flex flex-col xs:flex-row items-center gap-6 sm:gap-10"> -->
            <!--     <Image class="w-52 sm:w-40 object-contain" loading="eager" src={lifechordLogo} alt="lifechord logo"/> -->
            <!--     <Image class="w-52 sm:w-40 object-contain" loading="eager" src={bhlogo} alt="blackheaven logo"/> -->
            <!-- </footer> -->
        </main>
    </body>
</html>
