---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout>
    <div class="flex flex-col items-center justify-center">
        <div class="w-3/5 text-center">
            <p class="text-primary text-xs">BEWARE, NOT A 404</p>
            <p class="text-2xs">
                this page(s) is just under construction, check back later or
                something. or look around the site, i don't care what you do!
            </p>
            <p class="mt-2 text-2xs">
                i have no idea when this will be done or if it will be made at
                all. For now... you're just gonna have to wait and see!
            </p>
            <div></div>
        </div>
    </div></BaseLayout
>
