---
import "@/styles/global.css";
import Lightbox from "@/components/Lightbox.astro";

import crouch from "@/news-articles/4-3-2026/crouch.jpg";
import max from "@/news-articles/4-3-2026/max.jpg";
import jayson from "@/news-articles/4-3-2026/jayson.jpg";
import band from "@/news-articles/4-3-2026/band.jpg";
---

<p class="mt-3 text-primary text-xs">April 3rd, 2026 - "8 years ago"</p>

<div class="w-3/5 flex flex-col gap-y-2 text-2xs text-left">
    <p>
        Hello there, life lovers! I hope you're having a wonderful afternoon :)
        To preface this blog, I want to get a few things out of the way before I get to what I really want to talk about.
        First of all, if you came to our demo release, thank you. That was one of the most fun, heavy, and emotional
        (or, as Ben put it, “thick energy”) shows I’ve ever had the honor of being a part of. On behalf of the whole band,
        thank you for being a part of something so special. Some pictures should be attached!
    </p>
    <div class="flex">
        <Lightbox class="h-[150px]" src={crouch} alt="crouch" />
        <Lightbox class="h-[150px]" src={max} alt="max" />
        <Lightbox class="h-[150px]" src={jayson} alt="jayson" />
        <Lightbox class="h-[150px]" src={band} alt="band" />
    </div>
    <p>
        When I was 15, I took an elective class during my freshman year of high school that would not only change my life,
        though I didn’t know it yet, but also served as a place for upperclassmen to pretty much skip class. That class was
        guitar, and it was about as boring as you’d probably expect.
    </p>
    <p>
        One day, I was in class when a kid named Santiago begged our teacher to let him skip his forensics class since he
        hadn’t studied for a test he had that day. Our teacher begrudgingly let him, and, in proper fashion, instead of
        studying, he pulled out his Nintendo Switch and started playing Smash Bros. I knew Santiago in passing, since this
        wasn’t the first time he had done this, so I went up to him and asked if I could join. He agreed.
    </p>
    <p>
        We started talking about the game and the games we liked when we were younger. During that conversation, he asked
        me how old I was, and when I told him, he said, “Man! I’m only 17, and I can’t believe I’m a junior now. It feels
        like I was at freshman orientation, and after I blinked, I was teleported here.” We both shrugged it off and didn’t
        think much about what he said, but I think about it a lot now, more than I’d like to admit over these last couple
        of years.
    </p>
    <p>
        I was 14 then; I’m 22 now. That was 8 years ago. I think about what he said in moments like this, when I feel like
        time is passing by faster than it should, and I say the same thing: “Wow, that really was 8 years ago.” And depending
        on who you are, just the thought of me being a teen 8 years ago might make you feel old.
    </p>
    <p>
        But I’ve learned that’s the funny thing about getting older. You don’t realize in the moment that you’re aging or that
        you’ve grown out of certain habits until you stop for a moment and take time to reflect on yourself and how far you’ve
        come, even in spite of the bad things going on in your life, if that’s you.
    </p>
    <p>
        I remember these people and conversations that meant nothing to me at the time other than entertainment to help pass
        the school day more quickly. Little did I know those seemingly meaningless interactions would come to the forefront of
        my mind almost a decade later.
    </p>
    <p>
        I think a lot of us treat life this way, not because it’s our fault, but because life is simply what it is. People are
        busy, and we all have things to do. It takes a special moment or a drastic change for us to come to our senses, even if
        only briefly, and realize, “Damn… time really has flown by, what have I done with all of it?”
    </p>
    <p>
        Usually, the passing of a friend or a family member puts you in this strange, reflective state of mind.
        Yesterday the hardcore community at large found out that someone, who by all standards was important to
        many people that a younger hardcore kid like me looks up to, passed away.
    </p>
    <p>
        It’s easy to look at these situations and send condolences or say, “Check on your friends.” But the brutal truth is
        that if it were easy or comfortable, fewer people would feel the need to kill themselves. It’s hard coming to terms
        with the fact that someone you loved or held dear, in some way, shape, or form, will never ever get the chance to open
        their eyes again.
    </p>
    <p>
        Every emotion, every existential feeling they’ve ever had, all complaints, conflicts, joys, and accomplishments, dies
        with them.
    </p>
    <p>
        In moments like this, I stop and appreciate the people I have around me. Because we all have something worth saying and
        something worth loving, and I try so desperately to hold on to the memories I make. Because, like everything in life,
        nothing lasts forever.
    </p>
    <p>
        Some things burn slowly and fizzle out silently. Others engulf the room with light, only to leave a dark shadow when
        the show is over.
    </p>
    <p>
        At the demo release show, people came up to the band after the set saying how they felt seen and connected. Some even
        asked for hugs with tears in their eyes. We saw our friends in the crowd holding each other by the shoulders and hands
        in mutual understanding, that now was the time to live in the moment and be proud that you got to witness it.
    </p>
    <p>
        Since my dad passed away, I’ve made it a personal mission to truly mean it when I tell my friends that I love them and
        that I will never forget them for as long as I live. Without my friends, and the people who keep this thing we call
        hardcore alive, I am nothing, and I owe everything to them.
    </p>
    <p>
        Life sucks, and it’s not easy to go through, but it doesn’t have to be. There are people who want you around, and your
        impact, while it may feel small, leaves lasting marks on others’ lives, just like Santiago unknowingly left on mine
        8 years ago. Life is worth living. It’s worth seeing through to the end.
    </p>
    <p>Reach out. You are capable of being loved and understood.</p>
    <span class="gap-y-2">
        <p>Yours truly, Albert</p>
        <p class="text-primary">albert@lifechord.net</p>
        <p>Suicide and Crisis Hotline: <span class="text-primary">988</span></p>
    </span>
</div>
