---
import PlayIcon from "@/icons/PlayIcon.astro";
import PauseIcon from "@/icons/PauseIcon.astro";
import SoundIcon from "@/icons/SoundIcon.astro";
import SoundMutedIcon from "@/icons/SoundMutedIcon.astro";

const { src = "" } = Astro.props;
---

<div
    class="audio-player-container flex w-full items-center gap-x-2"
    x-data="audioPlayer"
    x-ref="audioPlayerContainer"
>
    <audio src={src} preload="metadata" x-ref="audio"> </audio>
    <button
        class="hover:cursor-pointer flex items-center justify-center"
        @click="togglePlay"
    >
        <span x-show="!playing">
            <PlayIcon />
        </span>
        <span x-show="playing">
            <PauseIcon />
        </span>
    </button>
    <span class="text-2xs" x-text="currentTime"></span>
    <!-- chrome/edge: "-webkit" -->
    <!-- firefox: "-moz" -->
    <input
        id="seek-slider"
        type="range"
        max="100"
        value="0"
        class="w-full range-slider"
        x-ref="seekSlider"
    />
    <button
        class="hover:cursor-pointer flex items-center justify-center"
        @click="toggleMute"
    >
        <span x-show="!muted">
            <SoundIcon />
        </span>
        <span x-show="muted">
            <SoundMutedIcon />
        </span>
    </button>
    <span class="text-2xs" x-text="volume"></span>
    <input
        id="volume-slider"
        type="range"
        max="100"
        value="100"
        class="w-14 volume-slider"
        x-ref="volumeSlider"
    />
</div>

<script>
    import Alpine from "alpinejs";

    document.addEventListener("alpine:init", () => {
        Alpine.data("audioPlayer", () => ({
            playing: false,
            muted: false,
            currentTime: "0:00",
            volume: 100,
            raf: 0,

            // Cached refs
            audio: {} as HTMLAudioElement,
            seekSlider: {} as HTMLInputElement,
            volumeSlider: {} as HTMLInputElement,
            audioPlayer: {} as HTMLElement,

            init() {
                this.audioPlayer = this.$refs.audioPlayerContainer;
                this.audio = this.$refs.audio as HTMLAudioElement;
                this.seekSlider = this.$refs.seekSlider as HTMLInputElement;
                this.volumeSlider = this.$refs.volumeSlider as HTMLInputElement;

                if (this.audio.readyState > 0) {
                    this.setSliderMax();
                    this.displayBufferedAmount();
                } else {
                    this.audio.addEventListener("loadedmetadata", () => {
                        this.setSliderMax();
                        this.displayBufferedAmount();
                    });
                }

                this.seekSlider.addEventListener("input", (e) => {
                    this.audioPlayer.style.setProperty(
                        "--seek-before-width",
                        `${(e.target.value / e.target.max) * 100}%`,
                    );

                    this.currentTime = this.formatTime(this.seekSlider.value);

                    if (!this.audio.paused) {
                        cancelAnimationFrame(this.raf);
                    }
                });

                this.seekSlider.addEventListener("change", () => {
                    this.audio.currentTime = this.seekSlider.value;

                    if (!this.audio.paused) {
                        this.raf = requestAnimationFrame(() =>
                            this.whilePlaying(),
                        );
                    }
                });

                this.volumeSlider.addEventListener("input", (e) => {
                    const value = e.target.value;

                    this.audioPlayer.style.setProperty(
                        "--volume-before-width",
                        `${(value / e.target.max) * 100}%`,
                    );

                    this.volume = value;
                    this.audio.volume = value / 100;
                });

                this.audio.addEventListener("progress", () => {
                    this.displayBufferedAmount();
                });
            },

            togglePlay() {
                this.playing = !this.playing;

                if (this.playing) {
                    this.audio.play();

                    this.raf = requestAnimationFrame(() => this.whilePlaying());
                } else {
                    this.audio.pause();
                    cancelAnimationFrame(this.raf);
                }
            },

            toggleMute() {
                this.muted = !this.muted;
                this.audio.muted = this.muted;
            },

            formatTime(secs) {
                const minutes = Math.floor(secs / 60);
                const seconds = Math.floor(secs % 60);

                return `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
            },

            setSliderMax() {
                this.seekSlider.max = Math.floor(this.audio.duration);
            },

            displayBufferedAmount() {
                if (!this.audio.buffered.length) return;

                const bufferedAmount = Math.floor(
                    this.audio.buffered.end(this.audio.buffered.length - 1),
                );

                this.audioPlayer.style.setProperty(
                    "--buffered-width",
                    `${(bufferedAmount / this.seekSlider.max) * 100}%`,
                );
            },

            whilePlaying() {
                this.seekSlider.value = Math.floor(this.audio.currentTime);

                this.currentTime = this.formatTime(this.seekSlider.value);

                this.audioPlayer.style.setProperty(
                    "--seek-before-width",
                    `${(this.seekSlider.value / this.seekSlider.max) * 100}%`,
                );

                this.raf = requestAnimationFrame(() => this.whilePlaying());
            },
        }));
    });
</script>

<style>
    @reference "tailwindcss";
    @reference "../styles/global.css";
    .audio-player-container {
        --seek-before-width: 0%;
        --volume-before-width: 100%;
        --buffered-width: 0%;
    }

    .range-slider,
    .volume-slider {
        @apply relative
        appearance-none
        bg-transparent
        cursor-pointer
        [&::-webkit-slider-thumb]:appearance-none
        [&::-webkit-slider-thumb]:h-4
        [&::-webkit-slider-thumb]:w-1
        [&::-webkit-slider-thumb]:bg-primary
        [&::-webkit-slider-thumb]:mt-[-6px]
        [&::-moz-range-thumb]:appearance-none
        [&::-moz-range-thumb]:h-4
        [&::-moz-range-thumb]:w-1
        [&::-moz-range-thumb]:bg-primary
        [&::-moz-range-thumb]:mt-[-6px];
    }

    .range-slider::before,
    .volume-slider::before {
        position: absolute;
        content: "";
        top: 0;
        z-index: -10;
        left: 0;
        height: 4px;
        background-color: #ffffff;
        cursor: pointer;
    }

    .range-slider::before {
        width: var(--seek-before-width);
    }

    .volume-slider::before {
        width: var(--volume-before-width);
    }

    .volume-slider {
        @apply [&::-webkit-slider-runnable-track]:h-1
        [&::-webkit-slider-runnable-track]:bg-foreground/40;
    }

    .range-slider::-webkit-slider-runnable-track {
        height: 4px;
        background: linear-gradient(
            to right,
            color-mix(in srgb, var(--foreground) 70%, transparent) 0,
            color-mix(in srgb, var(--foreground) 70%, transparent)
                var(--buffered-width),
            color-mix(in srgb, var(--foreground) 40%, transparent)
                var(--buffered-width),
            color-mix(in srgb, var(--foreground) 40%, transparent) 100%
        );
    }

    .range-slider::-moz-range-track {
        height: 4px;
        background: linear-gradient(
            to right,
            color-mix(in srgb, var(--foreground) 70%, transparent) 0,
            color-mix(in srgb, var(--foreground) 70%, transparent)
                var(--buffered-width),
            color-mix(in srgb, var(--foreground) 40%, transparent)
                var(--buffered-width),
            color-mix(in srgb, var(--foreground) 40%, transparent) 100%
        );
    }
</style>
