---
import PlayIcon from "@/icons/PlayIcon.astro";
import PauseIcon from "@/icons/PauseIcon.astro";
import SoundIcon from "@/icons/SoundIcon.astro";
import SoundMutedIcon from "@/icons/SoundMutedIcon.astro";

const { src = "" } = Astro.props;
---

<div
    class="audio-player-container flex w-full items-center gap-x-2"
    x-data="audioPlayer"
    x-init="init"
    x-ref="audioPlayerContainer"
>
    <audio src={src} preload="metadata" x-ref="audio"> </audio>
    <button
        class="hover:cursor-pointer flex items-center justify-center"
        @click="togglePlay"
    >
        <span x-show="!playing">
            <PlayIcon />
        </span>
        <span x-show="playing">
            <PauseIcon />
        </span>
    </button>
    <span class="text-2xs" x-text="currentTime"></span>
    <!-- chrome/edge: "-webkit" -->
    <!-- firefox: "-moz" -->
    <input
        id="seek-slider"
        type="range"
        max="100"
        value="0"
        class="w-full range-slider"
        x-ref="seekSlider"
    />
    <button
        class="hover:cursor-pointer flex items-center justify-center"
        @click="toggleMute"
    >
        <span x-show="!muted">
            <SoundIcon />
        </span>
        <span x-show="muted">
            <SoundMutedIcon />
        </span>
    </button>
    <span class="text-2xs" x-text="volume"></span>
    <input
        id="volume-slider"
        type="range"
        max="100"
        value="100"
        class="w-14 volume-slider"
        x-ref="volumeSlider"
    />
</div>

<script>
    import Alpine from "alpinejs";

    document.addEventListener("alpine:init", () => {
        Alpine.data("audioPlayer", () => ({
            playing: false,
            muted: false,
            currentTime: "0:00",
            volume: 100,
            raf: null,

            // Cached refs
            audio: null as HTMLAudioElement | null,
            seekSlider: null as HTMLElement | null,
            volumeSlider: null as HTMLElement | null,
            audioPlayer: null as HTMLElement | null,

            init() {
                this.audioPlayer = this.$refs.audioPlayerContainer;
                this.audio = this.$refs.audio;
                this.seekSlider = this.$refs.seekSlider;
                this.volumeSlider = this.$refs.volumeSlider;

                if (this.audio.readyState > 0) {
                    this.setSliderMax();
                    this.displayBufferedAmount();
                } else {
                    this.audio.addEventListener("loadedmetadata", () => {
                        this.setSliderMax();
                        this.displayBufferedAmount();
                    });
                }

                this.seekSlider.addEventListener("input", (e) => {
                    this.audioPlayer.style.setProperty(
                        "--seek-before-width",
                        `${(e.target.value / e.target.max) * 100}%`,
                    );

                    this.currentTime = this.formatTime(this.seekSlider.value);

                    if (!this.audio.paused) {
                        cancelAnimationFrame(this.raf);
                    }
                });

                this.seekSlider.addEventListener("change", () => {
                    this.audio.currentTime = this.seekSlider.value;

                    if (!this.audio.paused) {
                        this.raf = requestAnimationFrame(() =>
                            this.whilePlaying(),
                        );
                    }
                });

                this.volumeSlider.addEventListener("input", (e) => {
                    const value = e.target.value;

                    this.audioPlayer.style.setProperty(
                        "--volume-before-width",
                        `${(value / e.target.max) * 100}%`,
                    );

                    this.volume = value;
                    this.audio.volume = value / 100;
                });

                this.audio.addEventListener("progress", () => {
                    this.displayBufferedAmount();
                });
            },

            togglePlay() {
                this.playing = !this.playing;

                if (this.playing) {
                    this.audio.play();

                    this.raf = requestAnimationFrame(() => this.whilePlaying());
                } else {
                    this.audio.pause();
                    cancelAnimationFrame(this.raf);
                }
            },

            toggleMute() {
                this.muted = !this.muted;
                this.audio.muted = this.muted;
            },

            formatTime(secs) {
                const minutes = Math.floor(secs / 60);
                const seconds = Math.floor(secs % 60);

                return `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
            },

            setSliderMax() {
                this.seekSlider.max = Math.floor(this.audio.duration);
            },

            displayBufferedAmount() {
                if (!this.audio.buffered.length) return;

                const bufferedAmount = Math.floor(
                    this.audio.buffered.end(this.audio.buffered.length - 1),
                );

                this.audioPlayer.style.setProperty(
                    "--buffered-width",
                    `${(bufferedAmount / this.seekSlider.max) * 100}%`,
                );
            },

            whilePlaying() {
                this.seekSlider.value = Math.floor(this.audio.currentTime);

                this.currentTime = this.formatTime(this.seekSlider.value);

                this.audioPlayer.style.setProperty(
                    "--seek-before-width",
                    `${(this.seekSlider.value / this.seekSlider.max) * 100}%`,
                );

                this.raf = requestAnimationFrame(() => this.whilePlaying());
            },
        }));
    });
</script>
