---
const { page } = Astro.props;
const isDev = import.meta.env.MODE === "development";

const siteName = "Lifechord";
let fullTitle;

if (!page) {
  // Home page
  fullTitle = `${isDev ? "[DEV] " : ""}${siteName}`;
} else {
  // Any other page
  fullTitle = `${isDev ? "[DEV] " : ""}${siteName} - ${page}`;
}
---

<title>{fullTitle}</title>

