---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
import Lightbox from "../../../components/Lightbox.astro";
import type { ImageMetadata } from "astro";

const raw = import.meta.glob<{ default: ImageMetadata }>(
    "/src/images/band_pictures/11-29-2025/*.{jpg,jpeg,png,webp}",
    { eager: true },
);

const images = Object.values(raw).map((m) => {
    const meta = m.default;
    const src = meta.src;
    return {
        meta,
        src,
    };
});
---

<BaseLayout page="Memories">
    <a href="/memories" class="href-back">Back to dates</a>
    <p class="mt-3 text-primary text-xs">November 29th, 2025</p>
    <p class="mb-3 text-2xs">
        By Ramona Banos and Sal Rispoli. At Churchill's Pub.
    </p>
    <p class="mb-3 text-2xs text-foreground/60">
        Click any image to view it fully!
    </p>
    <div class="grid grid-cols-5">
        {
            images.map(({ meta, src }, index) => (
                <Lightbox
                    class="h-[150px] object-fill"
                    src={meta}
                    alt={"Band pic " + index}
                />
            ))
        }
    </div>
</BaseLayout>
