---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="Lyrics">
    <a href="/lyrics" class="href-back">Back to lyrics</a>
    <p class="mt-3 text-primary text-xs">Burn</p>
    <div class="flex flex-col gap-y-2 text-2xs text-left">
        <span class="gap-y-2">
            <p>Things have changed</p>
            <p>And I feel like nothing's stayed the same</p>
            <p>But I will... I will try</p>
            <p>To lift this weight with the strength of my actual mind</p>
        </span>
        <span class="gap-y-2">
            <p>Because I owe that to myself</p>
            <p>In spite of the fear I feel about what comes next</p>
            <p>I'm just trying to do what I can</p>
            <p>In a way that I understand</p>
            <p>Making a conscience choice to live a different way</p>
        </span>
        <span class="gap-y-2">
            <p>So as such I will carry on</p>
            <p>And carry hope in this heart in spite of all this pain</p>
            <p>I can't keep living like this</p>
            <p>As if I don't give a shit</p>
            <p>I'm making a conscience choice to live for today</p>
        </span>
        <span class="gap-y-2">
            <p>We gotta be the change we want to see</p>
            <p>It starts with you and with...</p>
            <p>me!</p>
        </span>
        <span class="gap-y-2">
            <p>Because I'm so far from the person I aspire to be</p>
            <p>Envious of those living this life</p>
            <p>So free... so free</p>
            <p>From weight</p>
        </span>
        <span class="gap-y-2">
            <p>I refuse to be tethered to such shaky ground</p>
            <p>With stones so cold, with no trust and no love</p>
            <p>Nights that I've spent crying here wishing I could</p>
            <p>Just tear down these walls...</p>
            <p>Just tear down these walls...</p>
        </span>
        <span class="gap-y-2">
            <p>I will learn to fly</p>
            <p>And I will learn how to let go</p>
            <p>I will learn to see the world</p>
            <p>From a different point of view</p>
        </span>
        <span class="gap-y-2">
            <p>Because things have changed</p>
            <p>But I'll learn to see it another way</p>
            <p>So watch me... watch me rise</p>
            <p>With the strenght of my actual mind</p>
            <p>And this raging fire I feel inside</p>
        </span>
        <span class="gap-y-2">
            <p>I will set fire to these wings</p>
            <p>I will learn to fly</p>
            <p>And I will burn</p>
        </span>
    </div>
</BaseLayout>
