---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="Lyrics">
    <a href="/lyrics/new-songs" class="href-back">Back to tracklist</a>
    <p class="mt-3 text-primary text-xs">Falling Short</p>
    <div class="flex flex-col gap-y-2 text-2xs text-left">
        <span class="gap-y-2">
            <p>I don't think I have the heart to look my mother in her eyes</p>
            <p>and say "It will be ok" and that "We can figure this out"</p>
        </span>
        <span class="gap-y-2">
            <p>What kind of son am I? What kind of son am I?</p>
            <p>The kind that can't make change in his own mother's heart</p>
        </span>
        <span class="gap-y-2">
            <p>In this abscence</p>
            <p>During these tender years</p>
        </span>
        <span class="gap-y-2">
            <p>It's so hard to stand</p>
            <p>When these feet feel cold</p>
            <p>When these arms can't hold</p>
            <p>And these hands can't warm</p>
            <p>
                It's so hard to say the right things when there's nothing I
                could say
            </p>
            <p>With a heart that beats Oh, how hard it beats</p>
            <p>For you!</p>
        </span>
        <span class="gap-y-2">
            <p>I'm fallin short and I'm missing out</p>
            <p>But we'll find the courage</p>
        </span>
        <span class="gap-y-2">
            <p class="text-primary">It starts with us</p>
        </span>
        <span class="gap-y-2">
            <p>This heart is free from evil and malice</p>
            <p>And when things change...</p>
            <p>It will remain so</p>
        </span>
    </div>
</BaseLayout>
