---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="Lyrics">
    <a href="/lyrics" class="href-back">Back to lyrics</a>
    <p class="mt-3 text-primary text-xs">Shorelines</p>
    <div class="flex flex-col gap-y-2 text-2xs text-left">
        <span class="gap-y-2">
            <p>I'm tryna feel, I'm tryna heal</p>
            <p>This child inside that's scared of everything</p>
            <p>When I look in the mirror, I see a boy</p>
            <p>Who's struggling to pick up the pieces</p>
            <p>When there's a silence in place of a loving voice</p>
            <p>And peace and quiet is never thought of as a choice</p>
            <p>Seeing my friends live a life I wanted bad</p>
            <p>All while living a life I'm forced to have</p>
        </span>
        <span class="gap-y-2">
            <p>Mourning a father who tried his best to be around</p>
            <p>Why is it hard for me to cry in my own house</p>
            <p>This is the only thing keeping me together</p>
            <p>A bunch of half nothings that don't really know any better</p>
        </span>
        <span class="gap-y-2">
            <p>I want to run... run away</p>
            <p>Like a boy who never got the chance to</p>
            <p>I'm trying to be... what I can't be</p>
            <p>Filling shoes that are just too big for me</p>
            <p>With aspirations and dreams you never got to live</p>
            <p>Beaten to pieces with so much left to give</p>
            <p>I promise that I've been trying to do my part</p>
            <p>but I lack strength in this heart</p>
        </span>
        <span class="gap-y-2">
            <p>And where do I start</p>
            <p>When i'm just so far</p>
            <p>From this image you have in your head</p>
            <p>Where I feel...</p>
        </span>
        <span class="gap-y-2">
            <p>Powerful and competent, to move mountains and continents</p>
            <p>Where I look fear in the eye, and I slay it with confidence</p>
            <p>
                Where I rise up with your mantle, and I carry it, and I honor it
            </p>
            <p>
                I'm just so far from where you stand, so face me and take all
                this...
            </p>
            <p>Away</p>
        </span>
        <span class="gap-y-2">
            <p>Now my head hangs in shame</p>
        </span>
        <span class="gap-y-2">
            <p>So will you help me?... So will you help me?</p>
            <p>Wash away this feeling</p>
            <p>Like an ocean's morning wave</p>
            <p>When I'm half nothing</p>
            <p>When I'm half nothing</p>
        </span>
        <span class="gap-y-2">
            <p>When this heart is cold and grey</p>
            <p>And it's strength can't be sustained</p>
            <p>Will you help me wash away</p>
            <p>Like a wave crashing on the shoreline</p>
        </span>
    </div>
</BaseLayout>
