---
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Base from "@/layouts/base.astro";
import BackButton from "@/components/BackButton.astro";

import { localizedHref } from "@/utils";
const { currentLocale } = Astro;
---

<Base page="Lyrics">
    <Navbar />
    <main
        class="min-h-screen flex flex-col justify-center items-center p-10 md:pt-0 gap-y-5 sm:gap-y-10"
    >
        <div
            class="flex flex-col gap-y-6 font-jetbrains text-xs leading-relaxed max-w-lg text-left"
        >
            <BackButton />
            <a
                class="hover-link"
                href={localizedHref(
                    "/lyrics/a-collection-of-sounds",
                    currentLocale,
                )}
                >A Collection Of Sounds and Melodies That Scream Through The
                Heart</a
            >
        </div>
    </main>
</Base>
