---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="Lyrics">
    <a href="/lyrics/collection" class="href-back">Back to tracklist</a>
    <p class="mt-3 text-primary text-xs">
        A Profound Desire To Feel Compassion For Others
    </p>
    <div class="flex flex-col gap-y-2 text-2xs text-left">
        <span class="gap-y-2">
            <p>
                I have collections of sounds and melodies that scream through
                the heart
            </p>
            <p>A ripping chord through which a voice is heard</p>
        </span>
        <span class="gap-y-2">
            <p>Bare witness to my soul and share with me</p>
            <p>In all the things no one thought could be shared</p>
            <p>Every thorn endured and every stride we take</p>
            <p>Are in hopes our thoughts live forever</p>
        </span>
        <span class="gap-y-2">
            <p>In those who love us dearly and who we cherish in the moment</p>
            <p>
                A moment that could last a lifetime full of compassion and hope
            </p>
            <p>Memories that scream</p>
            <p>I was once here and I lived as much as I could</p>
        </span>
        <span class="gap-y-2">
            <p>In this breath</p>
            <p>I choose to share and to suffer and to give all I have</p>
            <p>to those around me to show them that</p>
            <p>Every thorn, every stride, every road taken</p>
            <p>
                Lead to a sense of community that needs to rebuild it's capacity
                to empathize
            </p>
        </span>
        <span class="gap-y-2">
            <p>
                I have collections of sounds and melodies that scream through
                the heart
            </p>
            <p>A ripping chord through which a voice is heard</p>
        </span>
        <span class="gap-y-2">
            <p>A voice inside that echoes through my mind and my life</p>
            <p>Reminding me that we strive to find</p>
            <p>That special thing that makes life worth living</p>
        </span>
        <span class="gap-y-2">
            <p>A connection</p>
        </span>
    </div>
</BaseLayout>
