---
import "@/styles/global.css";
import BaseLayout from "@/layout/Base.astro";
---

<BaseLayout page="Lyrics">
    <a href="/lyrics" class="href-back">Back to projects</a>
    <p class="mt-3 text-primary text-xs">
        A Collection Of Sounds and Melodies That Scream Through The Heart
    </p>
    <div class="flex flex-col text-2xs text-left">
        <a class="href-song-lyrics" href="/lyrics/collection/a-profound-desire"
            >1. A Profound Desire To Feel Compassion For Others</a
        >
        <a class="href-song-lyrics" href="/lyrics/collection/the-indifference"
            >2. The Indifference</a
        >
    </div>
</BaseLayout>
