---
import "@/styles/global.css";
import { Image } from "astro:assets";
import Navbar from "@/components/Navbar.astro";
import PageTitle from "@/components/PageTitle.astro";
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <PageTitle page="Lyrics"/>
        <!-- Standard favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <!-- IOS / android favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
    </head>
    <body>
        <Navbar />
        <main class="min-h-screen flex flex-col justify-center items-center p-10 pt-0 gap-y-5 sm:gap-y-10">
            <div class="flex flex-col gap-y-6 font-jetbrains text-xs leading-relaxed max-w-md text-left">
                <a class="hover:text-blue-400" href="/lyrics/a-collection-of-sounds/a-profound-desire">A Profound Desire To Feel Compassion For Others</a>
                <a class="hover:text-blue-400" href="/lyrics/a-collection-of-sounds/the-indifference">The Indifference</a>
            </div>
        </main>
    </body>
</html>

